@import url(./global.css);

html {
  background: #faf7f2;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.u-clearfix:before,
.u-clearfix:after {
  content: ' ';
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.u-clearfix {
  *zoom: 1;
}
#titulo {
  font-family: 'Overlock SC', sans-serif;
  padding-top: 130px;
  width: 100%;
  justify-content: center;
  margin: auto;
  display: flex;
  color: #fff;
  text-shadow: -7px 10px 11px rgb(39, 39, 82);
  font-size: xx-large;
  padding-bottom: 30px;
}
#titulo h1 {
  font-family: 'Overlock SC', sans-serif;
}

.subtle {
  color: #616161;
  font-weight: 600;
}
.container-projetos {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 10px;
  padding-bottom: 20px;
}

.card-container {
  position: relative;
  width: 670px;
}

.card {
  background-color: #ffffffc2;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
  z-index: 1;
}

.card-body {
  display: inline-block;
  float: left;
  width: 310px;
}

.card-number {
  margin-top: 15px;
}

.card-circle {
  border: 1px solid #616161;
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 25px;
  text-align: center;
  width: 25px;
}

.card-circle-git {
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 35px;
  text-align: center;
  width: 35px;
}

.container-GitDeploy {
  display: flex;
  gap: 5px;
  padding-left: 50px;
}

.div-deploy {
  padding-top: 5px;
  padding-right: 10px;
  color: #616161;
}

.div-deploy a span {
  color: black;
}

.card-circle-deploy {
  margin-top: 10px;
  border: 1px solid #616161;
  border-radius: 15px;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 25px;
  text-align: center;
  width: 50px;
}

.card-author {
  display: block;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}

.card-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
}

.card-description {
  display: inline-block;
  font-weight: 800;
  line-height: 22px;
  margin: 10px 0;
  color: black;
  font-size: large;
}

.card-read {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 5px 0 20px;
  position: relative;
  text-align: right;
}

.card-read:after {
  background-color: #b8bddd;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 9px;
  width: 60%;
}

.card-tag {
  float: right;
  margin: 5px 0 0;
}

.card-media {
  float: right;
}

.card-shadow {
  background-color: #fff;
  box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1),
    0 0 100px 3px rgba(0, 0, 0, 0.25);
  height: 1px;
  margin: -1px auto 0;
  width: 80%;
  z-index: -1;
}

footer {
  display: inline-block;
  color: white;
  margin-top: 40px;
}

.copy span,
a {
  color: white;
}

.container-avatar1 {
  display: flex;
  margin-left: 25px;
  gap: 3px;
}
.container-avatar2 {
  display: flex;
  margin-left: 43px;
  gap: 3px;
}

.container-avatar3 {
  display: flex;
  margin-left: 69px;
  gap: 3px;
}
.container-avatar4 {
  display: flex;
  margin-left: 45px;
  gap: 3px;
}

.bg-avatar {
  background-color: #882b6cb4;
}

@media screen and (max-width: 1350px) {
  .container-projetos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
  }

  .card-container {
    position: relative;
    width: 750px;
    margin: 20px;
  }
  .card-body {
    justify-content: center;
  }
  .card-media {
    padding-top: 50px;
  }
  .card-body {
    padding-top: 40px;
  }
}

@media screen and (max-width: 770px) {
  .menu_lista li {
    width: 55px;
  }

  #titulo {
    text-align: center;
  }

  .container-projetos {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding-bottom: 15px;
  }

  .card-container {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  .card-media {
    float: center;
    display: flex;
    position: absolute;
    opacity: 0.2;
    z-index: 1;
    width: 300px;
  }

  .card-read {
    z-index: 2;
  }
}


#menu {
  position: absolute;
  height: 0;
  width: 100%;
  top: -15px;
  z-index: 0;
}

#menu.active {
  z-index: 0;
  position: absolute;
  background-color: #871bc6bd;
  top: 85px;
  left: 0;
  height: auto;
  width: 100%;
  opacity: 1;
  overflow: hidden;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#items a {
  color: white !important;
  text-decoration: none !important;
}
#items {
  font-size: 0;
  list-style: none;
  opacity: 0;
  height: 0;
}
#menu.active #items {
  font-size: 2.5rem;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  flex-direction: column;
  margin-bottom: 2rem;
  opacity: 1;
  padding-left: 2rem;
}

#item-1 {
  transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
}
#item-2 {
  transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
}
#item-3 {
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.relative {
  position: relative;
}
#items-lg {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#menu-small {
  display: none;
}

@media screen and (max-width: 700px) {
  #menu-big {
    display: none;
  }
  #menu-small {
    filter: invert(1);
    z-index: 30;
    display: block;
    border: none;
    height: 30px;
    width: 30px;
    background-color: transparent;
    margin-right: 25px;
  }
}
